*{
    /* reset do CSS */
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

/*  rem = 26px*/
/* 40px = 2.5rem */

:root{
    --Gray-800:#1E293B;
    --Gray-600: #475569;
    --Gray-200:#E2E8F0;
    --Gray-400:#94A3B8;
    --Purple:#7C3AED;
    --white:#fff;

}
header{
    background-image: url(./imagens/img.png );
    background-size: cover;
    height: 8.375rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;

}
main{
    padding-inline: 1.5rem;
}
.descricao h1{
    color: var(--Gray-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;

}
.descricao{
    font-size: 0.8125rem;
    color: var(--Gray-600);

    margin-bottom: 2.5rem;

}

.input-box divi{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 0.5rem;
}
.input-box{
    display: flex ;
    flex-direction:column ;
    align-items: center;
    gap: 0.5rem;
}

.login label{
    font-size: 0.873rem;
    color: var(--Gray-800);
    font-weight: 600rem;

}
.login input{
    padding: 1rem 0.75rem;
    border: 1px solid var(--Gray-200);
    border-radius: 0.25rem;
    color: var(--Gray-800);
}

.login input::placeholder{
    color: var(--Gray-400);

}

.login input:hover,
.login input:focus{
    outline: 1px solid var(--Purple);
}





.login a{
    color: var(--Purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600rem;
}

.login a :hover{
    text-decoration: underline;

}

.login button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-block: 1rem;
    width: 100%;
    background: var(--Purple);
    border: none;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 700;
    color:var(--white);
}
.login > p{
    color: var(--Gray-600);
}

.login > p a{
    font-weight: 700;
    font-size: 1rem;
}
/* nome da cor, rgb, rgba, hex, hsl, hwb */